Language: Cpp

IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right
AlignConsecutiveMacros: AcrossEmptyLines
NamespaceIndentation: All
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
