[submodule "src/vendor/Brainiac"]
	path = src/vendor/Brainiac
	url = https://github.com/SirBob01/Brainiac
[submodule "src/vendor/DPP"]
	path = src/vendor/DPP
	url = https://github.com/brainboxdotcc/DPP
